// colors
$text-primary-color: #333333;
$text-accent-color: #595959;
$primary-blue: #60b1e6;

// font weight
$text-accent-weight: 300;
$heading-font-weight: 700;

// fonts
$heading-font: 'Poppins', sans-serif;
$body-font: "Nunito", sans-serif;
$body-accent-font: 'Open sans', san-serif;