/* added media query to display the mobile navigation
 * so that you dont end up with the 2 rowed nav bar */
@media only screen and (max-width: 1000px) and (min-width: 981px) {
    /* Display mobile nav menu */
    .mobile_menu_bar,
    .et_mobile_nav_menu {
        display: block;
    }

    /* 	This currently has flex below 980px so lets try adding it to 1028px */
    .et_mobile_nav_menu {
        display: flex;
    }

    /* removes the bullet points before the li elements between 981px->1028px *‹/
    .et-l--header ul {
        list-style-type: none;
    }

    /* 	Hide the Desktop Navigation */
    #menu-main-navigation {
        display: none;
    }
}

/* shrink space between words in smaller screen
sizes for the desktop menu so that  */
@media screen and (max-width: 1090px) {
    .menu-item[class*="menu-item-object-"] {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
    .menu-item[class*="menu-item-object-"]:first-child {
        padding-left: 0 !important;
    }
}

/* 	Force the hamburger menu to the right */
.mobile_menu_bar {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    margin: 0;
}